@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ruda;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  background-color: #EFF6FF;
  min-height: 100%;
  min-width: 100%;
}
body{
  padding: 0 5px;
}

#root {
  min-width: 100%;
}